{
  "openapi": "3.0.3",
  "info": {
    "title": "外部連携 API (XML出力)",
    "version": "1.0.1",
    "description": "モールの各種情報を XML 形式で返却します。\n"
  },
  "servers": [
    {
      "url": "https://api.aeonmall.jp/api/xml/{mall_code}",
      "description": "本番サーバ"
    },
    {
      "url": "https://api-stg.aeonmall.jp/api/xml/{mall_code}",
      "description": "検証サーバ"
    }
  ],
  "paths": {
    "/api/shoplist": {
      "get": {
        "summary": "shoplist",
        "description": "ショップ情報を XML で返却します。\n画像パスは先頭に \n（本番） https://api.aeonmall.jp/api/xml/{mall_code} \n（検証） https://api-stg.aeonmall.jp/api/xml/{mall_code} \nを付与して取得します。\n",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ShopListData"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <item type=\"shop\">\n    <shopId>497f6eca-6276-4993-bfeb-53cbbbba6f08</shopId>\n    <shopName><![CDATA[ノジマ]]></shopName>\n    <shopNameKana><![CDATA[ノジマ]]></shopNameKana>\n    <shopNameEnglish><![CDATA[Nojima]]></shopNameEnglish>\n    <shopNameChinaCN><![CDATA[野岛]]></shopNameChinaCN>\n    <shopNameChinaTW><![CDATA[野島]]></shopNameChinaTW>\n    <shopNameKorea><![CDATA[노지마]]></shopNameKorea>\n    <shopNameFrance><![CDATA[]]></shopNameFrance>\n    <shopNameVietnam><![CDATA[]]></shopNameVietnam>\n    <shopNameThai><![CDATA[โนจิมะ]]></shopNameThai>\n    <abbr><![CDATA[]]></abbr>\n    <webStatus>1</webStatus>\n    <searches><![CDATA[n,の,ノ]]></searches>\n    <genre><![CDATA[グッズ]]></genre>\n    <genreSub><![CDATA[]]></genreSub>\n    <genreSubEnglish><![CDATA[]]></genreSubEnglish>\n    <genreMemo><![CDATA[家電量販店]]></genreMemo>\n    <genreMemoEnglish><![CDATA[electronics retail store]]></genreMemoEnglish>\n    <genreMemoChinaCN><![CDATA[电子产品零售店]]></genreMemoChinaCN>\n    <genreMemoChinaTw><![CDATA[電子產品零售店]]></genreMemoChinaTw>\n    <genreMemoKorea><![CDATA[가전 양판점]]></genreMemoKorea>\n    <genreMemoFrance><![CDATA[magasin de détail d'électronique]]></genreMemoFrance>\n    <genreMemoVietnam><![CDATA[cửa hàng bán lẻ đồ điện tử]]></genreMemoVietnam>\n    <genreMemoThai><![CDATA[ร้านค้าปลีกอุปกรณ์อิเล็กทรอนิกส์]]></genreMemoThai>\n    <groupId><![CDATA[]]></groupId>\n    <tenantCode><![CDATA[]]></tenantCode>\n    <tel><![CDATA[042-582-6481]]></tel>\n    <userUrl><![CDATA[http://nojima.co.jp/]]></userUrl>\n    <floor><![CDATA[2F]]></floor>\n    <floors><![CDATA[2F]]></floors>\n    <area><![CDATA[]]></area>\n    <areaSub><![CDATA[]]></areaSub>\n    <number><![CDATA[2003]]></number>\n    <openYear><![CDATA[]]></openYear>\n    <openMonth><![CDATA[]]></openMonth>\n    <closeFlg>0</closeFlg>\n    <pubStart>2019-08-24 23:15:22</pubStart>\n    <pubEnd></pubEnd>\n    <openDay><![CDATA[]]></openDay>\n    <openTime><![CDATA[10:00～21:00]]></openTime>\n    <description><![CDATA[デジタル家電専門店ノジマは「一番」早く、親切に、わかりやすく、お客さまに便利さ・快適さ・楽しさをお届けします。]]></description>\n    <photo1><![CDATA[/files/shop/152/photo1.png]]></photo1>\n    <photo1Thumb><![CDATA[/files/shop/152/photo1.png?width=320&height=320&fit=bounds]]></photo1Thumb>\n    <photo1Thumb150x150><![CDATA[/files/shop/152/photo1.png?width=150&height=150&fit=bounds]]></photo1Thumb150x150>\n    <photo1Thumb640x640><![CDATA[/files/shop/152/photo1.png?width=640&height=640&fit=bounds]]></photo1Thumb640x640>\n    <photo1ThumbW320><![CDATA[/files/shop/152/photo1.png?width=320]]></photo1ThumbW320>\n    <photo1ThumbW640><![CDATA[/files/shop/152/photo1.png?width=640]]></photo1ThumbW640>\n    <photo2><![CDATA[/files/shop/152/photo2.png]]></photo2>\n    <photo2Thumb><![CDATA[/files/shop/152/photo2.png?width=320&height=320&fit=bounds]]></photo2Thumb>\n    <photo2Thumb150x150><![CDATA[/files/shop/152/photo2.png?width=150&height=150&fit=bounds]]></photo2Thumb150x150>\n    <photo2Thumb640x640><![CDATA[/files/shop/152/photo2.png?width=320]]></photo2Thumb640x640>\n    <photo2ThumbW320><![CDATA[/files/shop/152/photo2.png?width=320]]></photo2ThumbW320>\n    <photo2ThumbW640><![CDATA[/files/shop/152/photo2.png?width=640]]></photo2ThumbW640>\n    <shopLogo><![CDATA[/files/shop/152/shop_logo.png]]></shopLogo>\n    <shopLogoThumb><![CDATA[/files/shop/152/shop_logo.png?width=320&height=320&fit=bounds]]></shopLogoThumb>\n    <shopLogoThumb150x150><![CDATA[/files/shop/152/shop_logo.png?width=150&height=150&fit=bounds]]></shopLogoThumb150x150>\n    <shopLogoThumb640x640><![CDATA[/files/shop/152/shop_logo.png?width=640&height=640&fit=bounds]]></shopLogoThumb640x640>\n    <shopLogoThumbW320><![CDATA[/files/shop/152/shop_logo.png?width=320]]></shopLogoThumbW320>\n    <shopLogoThumbW640><![CDATA[/files/shop/152/shop_logo.png?width=640]]></shopLogoThumbW640>\n    <qr><![CDATA[]]></qr>\n    <foodClass><![CDATA[]]></foodClass>\n    <seats><![CDATA[]]></seats>\n    <smoking>0</smoking>\n    <reservation>0</reservation>\n    <lunchMenu>0</lunchMenu>\n    <dinnerMenu>0</dinnerMenu>\n    <takeOut>0</takeOut>\n    <childrensMenu>0</childrensMenu>\n    <babySeat>0</babySeat>\n    <alcohol>0</alcohol>\n    <options>9, 12, 100, 102, 106, 117</options>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/shopinfo": {
      "get": {
        "summary": "shopinfo",
        "description": "ショップ情報（簡易飯）を XML で返却します。",
        "responses": {
          "200": {
            "description": "正常応答（XML）",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ShopList"
                },
                "examples": {
                  "sample": {
                    "summary": "最小例",
                    "value": "<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <item type=\"shop\">\n    <shopId>52af8736-36b2-4020-ab17-00e2e776ea91</shopId>\n    <accountName>ASBEE</accountName>\n    <shopName>ASBEE</shopName>\n    <floorId>25487a8b-b4b4-4071-a265-8abd81e34c83</floorId>\n    <areaId></areaId>\n    <shopGenreId>881c4bdb-8a1c-4252-b429-ad7ad49f8997</shopGenreId>\n  </item>\n</data>\n"
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/shoplist_app": {
      "get": {
        "summary": "shoplist_app",
        "description": "ショップ情報を XML で返却します。",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ShopListDataApp"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <areasName><![CDATA[森のキッチンコート(フードコート), レストラン街, グランマルシェ, カフェ&フード]]></areasName>\n  <areasNamesStr><![CDATA[Forest Kitchen Court (food court), Restaurant Street, Grand Marché, Cafe & Food]]></areasNamesStr>\n  <genresName><![CDATA[ショップ, ファッション, グッズ, …]]></genresName>\n  <genresNameStr><![CDATA[shop, fashion, goods, …]]></genresNameStr>\n  <floorsName><![CDATA[GF, 1F, 2F, 3F, 4F]]></floorsName>\n  <floorsNameStr><![CDATA[GF, 1F, 2F, 3F, 4F]]></floorsNameStr>\n  <optionsName><![CDATA[WAON POINT, AEON Pay, …]]></optionsName>\n  <optionsNameStr><![CDATA[WAON POINT, AEON Pay, …]]></optionsNameStr>\n  <item type=\"shop\">\n    <shopId>497f6eca-6276-4993-bfeb-53cbbbba6f08</shopId>\n    <shopName><![CDATA[STARBUCKS COFFEE]]></shopName>\n    <shopNameKana><![CDATA[STARBUCKS COFFEE]]></shopNameKana>\n    <shopNameEnglish><![CDATA[]]></shopNameEnglish>\n    <shopNameChinaCN><![CDATA[]]></shopNameChinaCN>\n    <shopNameChinaTW><![CDATA[]]></shopNameChinaTW>\n    <shopNameKorea><![CDATA[]]></shopNameKorea>\n    <shopNameFrance><![CDATA[]]></shopNameFrance>\n    <shopNameVietnam><![CDATA[]]></shopNameVietnam>\n    <shopNameThai><![CDATA[]]></shopNameThai>\n    <abbr><![CDATA[]]></abbr>\n    <webStatus>1</webStatus>\n    <mailMagStatus>0</mailMagStatus>\n    <searches><![CDATA[]]></searches>\n    <genre><![CDATA[グルメ]]></genre>\n    <genreSort>0</genreSort>\n    <genrePhoto1><![CDATA[]]></genrePhoto1>\n    <genrePhoto1WH360x240><![CDATA[]]></genrePhoto1WH360x240>\n    <genrePhoto1WH240x160><![CDATA[]]></genrePhoto1WH240x160>\n    <genrePhoto1S><![CDATA[]]></genrePhoto1S>\n    <genrePhoto1M><![CDATA[]]></genrePhoto1M>\n    <genrePhoto1Thumb><![CDATA[]]></genrePhoto1Thumb>\n    <genrePhoto1Thumb150x150><![CDATA[]]></genrePhoto1Thumb150x150>\n    <genrePhoto1Thumb640x640><![CDATA[]]></genrePhoto1Thumb640x640>\n    <genrePhoto1ThumbW320><![CDATA[]]></genrePhoto1ThumbW320>\n    <genrePhoto1ThumbW640><![CDATA[]]></genrePhoto1ThumbW640>\n    <genreUpdate>2019-08-24 23:15:22</genreUpdate>\n    <genreSubs>\n      <item type=\"genreSub\">\n        <genreSubId>fd9ef4a1-3f64-4563-9835-ae1bec62c494</genreSubId>\n        <genreSubName><![CDATA[カフェ]]></genreSubName>\n        <genreSubNameEng><![CDATA[]]></genreSubNameEng>\n        <genreSubSort></genreSubSort>\n        <genreSubPhoto1><![CDATA[]]></genreSubPhoto1>\n        <genreSubPhoto1WH360x240><![CDATA[]]></genreSubPhoto1WH360x240>\n        <genreSubPhoto1WH240x160><![CDATA[]]></genreSubPhoto1WH240x160>\n        <genreSubPhoto1S><![CDATA[]]></genreSubPhoto1S>\n        <genreSubPhoto1M><![CDATA[]]></genreSubPhoto1M>\n        <genreSubPhoto1Thumb><![CDATA[]]></genreSubPhoto1Thumb>\n        <genreSubPhoto1Thumb150x150><![CDATA[]]></genreSubPhoto1Thumb150x150>\n        <genreSubPhoto1Thumb640x640><![CDATA[]]></genreSubPhoto1Thumb640x640>\n        <genreSubPhoto1ThumbW320><![CDATA[]]></genreSubPhoto1ThumbW320>\n        <genreSubPhoto1ThumbW640><![CDATA[]]></genreSubPhoto1ThumbW640>\n        <genreSubUpdate></genreSubUpdate>\n      </item>\n    </genreSubs>\n    <genreMemo><![CDATA[スペシャリティ コーヒーストア]]></genreMemo>\n    <genreMemoEnglish><![CDATA[]]></genreMemoEnglish>\n    <genreMemoChinaCN><![CDATA[]]></genreMemoChinaCN>\n    <genreMemoChinaTW><![CDATA[]]></genreMemoChinaTW>\n    <genreMemoKorea><![CDATA[]]></genreMemoKorea>\n    <genreMemoFrance><![CDATA[]]></genreMemoFrance>\n    <genreMemoVietnam><![CDATA[]]></genreMemoVietnam>\n    <genreMemoThai><![CDATA[]]></genreMemoThai>\n    <groupId><![CDATA[]]></groupId>\n    <tenantCode><![CDATA[]]></tenantCode>\n    <tel><![CDATA[042-582-6481]]></tel>\n    <userUrl><![CDATA[]]></userUrl>\n    <userUrlSm><![CDATA[]]></userUrlSm>\n    <userUrlMb><![CDATA[]]></userUrlMb>\n    <floor><![CDATA[2F]]></floor>\n    <floors><![CDATA[2F]]></floors>\n    <area><![CDATA[カフェ&フード]]></area>\n    <areaSort></areaSort>\n    <areaColor><![CDATA[]]></areaColor>\n    <areaLogo><![CDATA[]]></areaLogo>\n    <areaIcon><![CDATA[]]></areaIcon>\n    <areaUpdate></areaUpdate>\n    <areaSub><![CDATA[]]></areaSub>\n    <areaSubSort></areaSubSort>\n    <areaSubColor><![CDATA[]]></areaSubColor>\n    <areaSubLogo><![CDATA[]]></areaSubLogo>\n    <areaSubIcon><![CDATA[]]></areaSubIcon>\n    <areaeSubUpdate></areaeSubUpdate>\n    <areaSubSub><![CDATA[]]></areaSubSub>\n    <areaSubSubSort></areaSubSubSort>\n    <areaSubSubColor><![CDATA[]]></areaSubSubColor>\n    <areaSubSubLogo><![CDATA[]]></areaSubSubLogo>\n    <areaSubSubIcon><![CDATA[]]></areaSubSubIcon>\n    <areaeSubSubUpdate></areaeSubSubUpdate>\n    <number><![CDATA[2003]]></number>\n    <openYear><![CDATA[]]></openYear>\n    <openMonth><![CDATA[]]></openMonth>\n    <closeFlg>0</closeFlg>\n    <pubStart>2019-08-24 23:15:22</pubStart>\n    <pubEnd></pubEnd>\n    <restaurantavailability></restaurantavailability>\n    <openDay><![CDATA[]]></openDay>\n    <openTime><![CDATA[10:00～21:00]]></openTime>\n    <description><![CDATA[バラエティ豊かなエスプレッソドリンクをお楽しみいただけます。]]></description>\n    <photo1><![CDATA[https://test-aeonmall.com/files/shop/152/photo1]]></photo1>\n    <photo1WH360x240><![CDATA[https://test-aeonmall.com/files/shop/152/photo1?width=360&height=240&fit=bounds]]></photo1WH360x240>\n    <photo1WH240x160><![CDATA[https://test-aeonmall.com/files/shop/152/photo1?width=240&height=160&fit=bounds]]></photo1WH240x160>\n    <photo1Thumb><![CDATA[https://test-aeonmall.com/files/shop/152/photo1?width=320&height=320&fit=bounds]]></photo1Thumb>\n    <photo1Thumb150x150><![CDATA[https://test-aeonmall.com/files/shop/152/photo1?width=150&height=150&fit=bounds]]></photo1Thumb150x150>\n    <photo1Thumb640x640><![CDATA[https://test-aeonmall.com/files/shop/152/photo1?width=640&height=640&fit=bounds]]></photo1Thumb640x640>\n    <photo1ThumbW320><![CDATA[https://test-aeonmall.com/files/shop/152/photo1?width=320]]></photo1ThumbW320>\n    <photo1ThumbW480><![CDATA[https://test-aeonmall.com/files/shop/152/photo1?width=480]]></photo1ThumbW480>\n    <photo1ThumbW640><![CDATA[https://test-aeonmall.com/files/shop/152/photo1?width=640]]></photo1ThumbW640>\n    <photo2><![CDATA[https://test-aeonmall.com/files/shop/152/photo2]]></photo2>\n    <photo2WH360x240><![CDATA[https://test-aeonmall.com/files/shop/152/photo2?width=360&height=240&fit=bounds]]></photo2WH360x240>\n    <photo2WH240x160><![CDATA[https://test-aeonmall.com/files/shop/152/photo2?width=240&height=160&fit=bounds]]></photo2WH240x160>\n    <photo2Thumb><![CDATA[https://test-aeonmall.com/files/shop/152/photo2?width=320&height=320&fit=bounds]]></photo2Thumb>\n    <photo2Thumb150x150><![CDATA[https://test-aeonmall.com/files/shop/152/photo2?width=150&height=150&fit=bounds]]></photo2Thumb150x150>\n    <photo2Thumb640x640><![CDATA[https://test-aeonmall.com/files/shop/152/photo2?width=320]]></photo2Thumb640x640>\n    <photo2ThumbW320><![CDATA[https://test-aeonmall.com/files/shop/152/photo2?width=320]]></photo2ThumbW320>\n    <photo2ThumbW480><![CDATA[https://test-aeonmall.com/files/shop/152/photo2?width=480]]></photo2ThumbW480>\n    <photo2ThumbW640><![CDATA[https://test-aeonmall.com/files/shop/152/photo2?width=640]]></photo2ThumbW640>\n    <shopLogo><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png]]></shopLogo>\n    <shopLogoWH230x80><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=230&height=80&fit=bounds]]></shopLogoWH230x80>\n    <shopLogoWH100x50><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=100&height=50&fit=bounds]]></shopLogoWH100x50>\n    <shopLogoThumb><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=320&height=320&fit=bounds]]></shopLogoThumb>\n    <shopLogoThumb150x150><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=150&height=150&fit=bounds]]></shopLogoThumb150x150>\n    <shopLogoThumb640x640><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=640&height=640&fit=bounds]]></shopLogoThumb640x640>\n    <shopLogoThumbW320><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=320]]></shopLogoThumbW320>\n    <shopLogoThumbW480><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=480]]></shopLogoThumbW480>\n    <shopLogoThumbW640><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=640]]></shopLogoThumbW640>\n    <privilege><![CDATA[]]></privilege>\n    <privilegeWH230x230><![CDATA[]]></privilegeWH230x230>\n    <privilegeWH100x100><![CDATA[]]></privilegeWH100x100>\n    <privilegeThumb><![CDATA[]]></privilegeThumb>\n    <privilegeThumb150x150><![CDATA[]]></privilegeThumb150x150>\n    <privilegeThumb640x640><![CDATA[]]></privilegeThumb640x640>\n    <privilegeThumbW320><![CDATA[]]></privilegeThumbW320>\n    <privilegeThumbW480><![CDATA[]]></privilegeThumbW480>\n    <privilegeThumbW640><![CDATA[]]></privilegeThumbW640>\n    <privilegeDescription><![CDATA[]]></privilegeDescription>\n    <qr><![CDATA[]]></qr>\n    <youtubeIframe><![CDATA[]]></youtubeIframe>\n    <youtubeIframeSp><![CDATA[]]></youtubeIframeSp>\n    <mapIframe><![CDATA[]]></mapIframe>\n    <isEatingPlace></isEatingPlace>\n    <foodClass><![CDATA[]]></foodClass>\n    <seats><![CDATA[]]></seats>\n    <smoking>0</smoking>\n    <reservation>0</reservation>\n    <lunchMenu>0</lunchMenu>\n    <dinnerMenu>0</dinnerMenu>\n    <takeOut>0</takeOut>\n    <childrensMenu>0</childrensMenu>\n    <subDescription><![CDATA[]]></subDescription>\n    <alcohol>0</alcohol>\n    <pet>0</pet>\n    <petDescription><![CDATA[]]></petDescription>\n    <brand><![CDATA[]]></brand>\n    <sort>0</sort>\n    <rankingSort></rankingSort>\n    <shufooOnline><![CDATA[]]></shufooOnline>\n    <options>\n      <item type=\"option\">\n        <optionId>f8975532-30ea-459c-abd2-bfb9466208cc</optionId>\n        <optionName><![CDATA[キッズ関連]]></optionName>\n        <optionNameStr><![CDATA[]]></optionNameStr>\n        <optionSort>0</optionSort>\n        <optionLogo><![CDATA[]]></optionLogo>\n        <optionStatus>0</optionStatus>\n        <optionUpdate>2019-08-24 23:15:22</optionUpdate>\n      </item>\n      <item type=\"option\">\n        <optionId>1015c400-806f-4bfe-a7a4-23218f76ad10</optionId>\n        <optionName><![CDATA[WAON POINT]]></optionName>\n        <optionNameStr><![CDATA[]]></optionNameStr>\n        <optionSort>0</optionSort>\n        <optionLogo><![CDATA[https://test-aeonmall.com/files/shop_option/3/logo.png]]></optionLogo>\n        <optionStatus>0</optionStatus>\n        <optionUpdate>2019-08-24 23:15:22</optionUpdate>\n      </item>\n      <item type=\"option\">\n        <optionId>f9cba515-9f6e-4c0a-8a0e-5a4b81abf316</optionId>\n        <optionName><![CDATA[PayPay]]></optionName>\n        <optionNameStr><![CDATA[]]></optionNameStr>\n        <optionSort>0</optionSort>\n        <optionLogo><![CDATA[https://test-aeonmall.com/files/shop_option/10/logo.png]]></optionLogo>\n        <optionStatus>0</optionStatus>\n        <optionUpdate>2019-08-24 23:15:22</optionUpdate>\n      </item>\n      <item type=\"option\">\n        <optionId>490e23c17-db40-45c0-841a-12ea92ffe46b</optionId>\n        <optionName><![CDATA[電子マネーWAON]]></optionName>\n        <optionNameStr></optionNameStr>\n        <optionSort>0</optionSort>\n        <optionLogo><![CDATA[https://test-aeonmall.com/files/shop_option/4/logo.png]]></optionLogo>\n        <optionStatus>0</optionStatus>\n        <optionUpdate>2019-08-24 23:15:22</optionUpdate>\n      </item>\n      <item type=\"option\">\n        <optionId>86fdf955-9fb9-41b7-8aaa-f51953783e71</optionId>\n        <optionName><![CDATA[TAXFREE]]></optionName>\n        <optionNameStr><![CDATA[]]></optionNameStr>\n        <optionSort>0</optionSort>\n        <optionLogo><![CDATA[https://test-aeonmall.com/files/shop_option/14/logo.png]]></optionLogo>\n        <optionStatus>0</optionStatus>\n        <optionUpdate>2019-08-24 23:15:22</optionUpdate>\n      </item>\n    </options>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/shopnewslist": {
      "get": {
        "summary": "shopnewslist",
        "description": "ショップニュース情報を XML で返却します。\n画像パスは先頭に \n（本番） https://api.aeonmall.jp/api/xml/{mall_code} \n（検証） https://api-stg.aeonmall.jp/api/xml/{mall_code} \nを付与して取得します。\n",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ShopNewsData"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n<updateDateAll>2019-08-24 23:15:22</updateDateAll>\n<item type=\"shopnews\">\n    <shopNewsId>6415a75d-d081-4346-b94d-c5e20e1af2b3</shopNewsId>\n    <shopId>497f6eca-6276-4993-bfeb-53cbbbba6f08</shopId>\n    <shopName><![CDATA[ノジマ]]></shopName>\n    <shopLogo><![CDATA[/files/shop/152/230x80_shop_logo]]></shopLogo>\n    <shopFloorName><![CDATA[2F]]></shopFloorName>\n    <shopFloorsName><![CDATA[2F]]></shopFloorsName>\n    <title><![CDATA[ノジマイオンモール多摩平の森店ではセンキョ割を開催中！！]]></title>\n    <subTitle><![CDATA[ノジマイオンモール多摩平の森店ではセンキョ割を開催中！！]]></subTitle>\n    <bodyShort><![CDATA[本文の要約…]]></bodyShort>\n    <body><![CDATA[本文…]]></body>\n    <categorise><![CDATA[キャンペーン]]></categorise>\n    <photo1><![CDATA[/files/infomation/538/photo1.png]]></photo1>\n    <photo1Thumb><![CDATA[/files/infomation/538/photo1.png?width=320&height=320&fit=bounds]]></photo1Thumb>\n    <photo1Thumb150x150><![CDATA[/files/infomation/538/photo1.png?width=150&height=150&fit=bounds]]></photo1Thumb150x150>\n    <photo1Thumb640x640><![CDATA[/files/infomation/538/photo1.png?width=640&height=640&fit=bounds]]></photo1Thumb640x640>\n    <photo1ThumbW320><![CDATA[/files/infomation/538/photo1.png?width=320]]></photo1ThumbW320>\n    <photo1ThumbW640><![CDATA[/files/infomation/538/photo1.png?width=640]]></photo1ThumbW640>\n    <photo1ThumbW1080><![CDATA[/files/infomation/538/photo1.png?width=1080]]></photo1ThumbW1080>\n    <photo2><![CDATA[]]></photo2>\n    <photo2Thumb><![CDATA[]]></photo2Thumb>\n    <photo2Thumb150x150><![CDATA[]]></photo2Thumb150x150>\n    <photo2Thumb640x640><![CDATA[]]></photo2Thumb640x640>\n    <photo2ThumbW320><![CDATA[]]></photo2ThumbW320>\n    <photo2ThumbW640><![CDATA[]]></photo2ThumbW640>\n    <photo2ThumbW1080><![CDATA[]]></photo2ThumbW1080>\n    <dateStart>2025-08-04</dateStart>\n    <dateEnd>2025-09-01</dateEnd>\n    <time><![CDATA[]]></time>\n    <place><![CDATA[]]></place>\n    <pubStart>2025-08-01 09:00:00</pubStart>\n    <pubEnd>2025-09-02 07:00:00</pubEnd>\n    <status>1</status>\n    <statusWeb>1</statusWeb>\n    <statusList>1</statusList>\n    <statusSignage>1</statusSignage>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/shopnewslist_app": {
      "get": {
        "summary": "shopnewslist_app",
        "description": "ショップニュース情報を XML で返却します。",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ShopNewsDataApp"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <snsButton><![CDATA[]]></snsButton>\n  <categoriesName><![CDATA[新店・閉店・リニューアル, 新店, 閉店, リニューアル, キャンペーン, お知らせ]]></categoriesName>\n  <categoriesNameStr><![CDATA[]]></categoriesNameStr>\n  <item type=\"shopnews\">\n    <shopNewsId>6415a75d-d081-4346-b94d-c5e20e1af2b3</shopNewsId>\n    <shopId>497f6eca-6276-4993-bfeb-53cbbbba6f08</shopId>\n    <shopName><![CDATA[ノジマ]]></shopName>\n    <shopLogo><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png]]></shopLogo>\n    <shopLogoWH230x80><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=230&height=80&fit=bounds]]></shopLogoWH230x80>\n    <shopLogoWH100x50><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=100&height=50&fit=bounds]]></shopLogoWH100x50>\n    <shopLogoThumb><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=320&height=320&fit=bounds]]></shopLogoThumb>\n    <shopLogoThumb150x150><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=150&height=150&fit=bounds]]></shopLogoThumb150x150>\n    <shopLogoThumb640x640><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=640]]></shopLogoThumb640x640>\n    <shopLogoThumbW320><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=320]]></shopLogoThumbW320>\n    <shopLogoThumbW480><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=480]]></shopLogoThumbW480>\n    <shopLogoThumbW640><![CDATA[https://test-aeonmall.com/files/shop/152/shop_logo.png?width=640]]></shopLogoThumbW640>\n    <shopFloorName><![CDATA[2F]]></shopFloorName>\n    <shopFloorsName><![CDATA[2F]]></shopFloorsName>\n    <title><![CDATA[ノジマイオンモール多摩平の森店ではセンキョ割を開催中！！]]></title>\n    <subTitle><![CDATA[ノジマイオンモール多摩平の森店ではセンキョ割を開催中！！]]></subTitle>\n    <body><![CDATA[本文…]]></body>\n    <bodyShort><![CDATA[本文の要約…]]></bodyShort>\n    <categoryId><![CDATA[56bc013b-63b4-47ea-adb0-00ce0c263231]]></categoryId>\n    <categoryName><![CDATA[キャンペーン]]></categoryName>\n    <categoryNameStr><![CDATA[]]></categoryNameStr>\n    <categorySort><![CDATA[6]]></categorySort>\n    <categorySubs>\n      <item type=\"categorySub\">\n        <categorySubId></categorySubId>\n        <categorySubName></categorySubName>\n        <categorySubNameEng></categorySubNameEng>\n        <categorySubSort></categorySubSort>\n        <categorySubUpdate></categorySubUpdate>\n      </item>\n    </categorySubs>\n    <photo1><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png]]></photo1>\n    <photo1WH360x240><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=360&height=240&fit=bounds]]></photo1WH360x240>\n    <photo1WH240x160><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=240&height=160&fit=bounds]]></photo1WH240x160>\n    <photo1S><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=360]]></photo1S>\n    <photo1M><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=240]]></photo1M>\n    <photo1Thumb><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=320&height=320&fit=bounds]]></photo1Thumb>\n    <photo1Thumb150x150><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=150&height=150&fit=bounds]]></photo1Thumb150x150>\n    <photo1Thumb640x640><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=640&height=640&fit=bounds]]></photo1Thumb640x640>\n    <photo1ThumbW320><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=320]]></photo1ThumbW320>\n    <photo1ThumbW480><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=480]]></photo1ThumbW480>\n    <photo1ThumbW640><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=640]]></photo1ThumbW640>\n    <photo1ThumbW1080><![CDATA[https://test-aeonmall.com/files/infomation/538/photo1.png?width=1080]]></photo1ThumbW1080>\n    <photo2><![CDATA[]]></photo2>\n    <photo2WH360x240><![CDATA[]]></photo2WH360x240>\n    <photo2WH240x160><![CDATA[]]></photo2WH240x160>\n    <photo2S><![CDATA[]]></photo2S>\n    <photo2M><![CDATA[]]></photo2M>\n    <photo2Thumb><![CDATA[]]></photo2Thumb>\n    <photo2Thumb150x150><![CDATA[]]></photo2Thumb150x150>\n    <photo2Thumb640x640><![CDATA[]]></photo2Thumb640x640>\n    <photo2ThumbW320><![CDATA[]]></photo2ThumbW320>\n    <photo2ThumbW480><![CDATA[]]></photo2ThumbW480>\n    <photo2ThumbW640><![CDATA[]]></photo2ThumbW640>\n    <photo2ThumbW1080><![CDATA[]]></photo2ThumbW1080>\n    <dateStart>2025-08-04</dateStart>\n    <dateEnd>2025-09-01</dateEnd>\n    <time><![CDATA[]]></time>\n    <place><![CDATA[]]></place>\n    <pubStart>2025-08-01 09:00:00</pubStart>\n    <pubEnd>2025-09-02 07:00:00</pubEnd>\n    <status>1</status>\n    <statusWeb>1</statusWeb>\n    <statusList>1</statusList>\n    <statusSignage>1</statusSignage>\n    <statusReprint>0</statusReprint>\n    <contact></contact>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/eventnewslist": {
      "get": {
        "summary": "eventnewslist",
        "description": "イベントニュース情報を XML で返却します。\n画像パスは先頭に \n（本番） https://api.aeonmall.jp/api/xml/{mall_code} \n（検証） https://api-stg.aeonmall.jp/api/xml/{mall_code} \nを付与して取得します。\n",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EventNewsData"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <item type=\"eventnews\">\n    <eventId>2f0262bf-7cc9-418a-ba40-6d2ef9897d1c</eventId>\n    <title><![CDATA[「ハワイ」を感じろ！！ハワイアンツアー]]></title>\n    <subTitle><![CDATA[「ハワイ」を感じろ！！ハワイアンツアー]]></subTitle>\n    <bodyShort><![CDATA[本文の要約…]]></bodyShort>\n    <body><![CDATA[本文…]]></body>\n    <categories><![CDATA[体験・ワークショップ]]></categories>\n    <photo1><![CDATA[/files/eventnews/4750/photo1]]></photo1>\n    <photo1Thumb><![CDATA[/files/eventnews/4750/photo1?width=320&height=320&fit=bounds]]></photo1Thumb>\n    <photo1Thumb150x150><![CDATA[/files/eventnews/4750/photo1?width=150&height=150&fit=bounds]]></photo1Thumb150x150>\n    <photo1Thumb640x640><![CDATA[/files/eventnews/4750/photo1?width=640&height=640&fit=bounds]]></photo1Thumb640x640>\n    <photo1ThumbW320><![CDATA[/files/eventnews/4750/photo1?width=320]]></photo1ThumbW320>\n    <photo1ThumbW640><![CDATA[/files/eventnews/4750/photo1?width=640]]></photo1ThumbW640>\n    <photo1ThumbW1080><![CDATA[/files/eventnews/4750/photo1?width=1080]]></photo1ThumbW1080>\n    <photo2><![CDATA[/files/eventnews/4750/photo2]]></photo2>\n    <photo2Thumb><![CDATA[/files/eventnews/4750/photo2?width=320&height=320&fit=bounds]]></photo2Thumb>\n    <photo2Thumb150x150><![CDATA[/files/eventnews/4750/photo2?width=150&height=150&fit=bounds]]></photo2Thumb150x150>\n    <photo2Thumb640x640><![CDATA[/files/eventnews/4750/photo2?width=640&height=640&fit=bounds]]></photo2Thumb640x640>\n    <photo2ThumbW320><![CDATA[/files/eventnews/4750/photo2?width=320]]></photo2ThumbW320>\n    <photo2ThumbW640><![CDATA[/files/eventnews/4750/photo2?width=640]]></photo2ThumbW640>\n    <photo2ThumbW1080><![CDATA[/files/eventnews/4750/photo2?width=1080]]></photo2ThumbW1080>\n    <xy><![CDATA[]]></xy>\n    <dateStart>2025-08-26</dateStart>\n    <dateEnd>2025-08-28</dateEnd>\n    <item type=\"date\">\n      <dateStart>2025-08-26</dateStart>\n      <dateEnd>2025-08-28</dateEnd>\n    </item>\n    <item type=\"display\">\n      <displayDate>2025-08-26,2025-08-28</displayDate>\n      <displayTime>19:00:00,03:00:00</displayTime>\n    </item>\n    <time><![CDATA[10:00〜18:00（12：00〜13：00一時休止）]]></time>\n    <place><![CDATA[1F センターコート・アエナ前]]></place>\n    <venues><![CDATA[]]></venues>\n    <pubStart>2025-07-01 19:00:00</pubStart>\n    <pubEnd>2025-08-28 03:00:00</pubEnd>\n    <status>1</status>\n    <statusWeb>1</statusWeb>\n    <statusList>1</statusList>\n    <statusSignage>1</statusSignage>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/eventnewslist_app": {
      "get": {
        "summary": "eventnewslist_app",
        "description": "イベントニュース情報を XML で返却します。",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EventNewsDataApp"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <snsButton><![CDATA[]]></snsButton>\n  <categoriesName><![CDATA[キッズ関連, 体験・ワークショップ, エンタメ, 展示, 催事]]></categoriesName>\n  <categoriesNameStr><![CDATA[Kids, Experience&Workshop, Entertainment, Exhibition, SpecialEvent]]></categoriesNameStr>\n  <venuesName><![CDATA[]]></venuesName>\n  <venuesNameStr><![CDATA[]]></venuesNameStr>\n  <item type=\"eventnews\">\n    <eventId>2f0262bf-7cc9-418a-ba40-6d2ef9897d1c</eventId>\n    <title><![CDATA[「ハワイ」を感じろ！！ハワイアンツアー]]></title>\n    <subTitle><![CDATA[「ハワイ」を感じろ！！ハワイアンツアー]]></subTitle>\n    <body><![CDATA[本文…]]></body>\n    <bodyShort><![CDATA[本文の要約…]]></bodyShort>\n    <categories><![CDATA[体験・ワークショップ]]></categories>\n    <photo1><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1]]></photo1>\n    <photo1WH360x240><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1?width=360&height=240&fit=bounds]]></photo1WH360x240>\n    <photo1WH240x160><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1?width=240&height=160&fit=bounds]]></photo1WH240x160>\n    <photo1S><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1?width=360]]></photo1S>\n    <photo1M><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1?width=240]]></photo1M>\n    <photo1Thumb><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1?width=320&height=320&fit=bounds]]></photo1Thumb>\n    <photo1Thumb150x150><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1?width=150&height=150&fit=bounds]]></photo1Thumb150x150>\n    <photo1Thumb640x640><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1?width=640&height=640&fit=bounds]]></photo1Thumb640x640>\n    <photo1ThumbW320><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1?width=320]]></photo1ThumbW320>\n    <photo1ThumbW480><![CDATA[]]></photo1ThumbW480>\n    <photo1ThumbW640><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1?width=640]]></photo1ThumbW640>\n    <photo1ThumbW1080><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo1?width=1080]]></photo1ThumbW1080>\n    <photo2><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2]]></photo2>\n    <photo2WH360x240><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2?width=360&height=240&fit=bounds]]></photo2WH360x240>\n    <photo2WH240x160><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2?width=240&height=160&fit=bounds]]></photo2WH240x160>\n    <photo2S><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2?width=360]]></photo2S>\n    <photo2M><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2?width=240]]></photo2M>\n    <photo2Thumb><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2?width=320&height=320&fit=bounds]]></photo2Thumb>\n    <photo2Thumb150x150><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2?width=150&height=150&fit=bounds]]></photo2Thumb150x150>\n    <photo2Thumb640x640><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2?width=640&height=640&fit=bounds]]></photo2Thumb640x640>\n    <photo2ThumbW320><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2?width=320]]></photo2ThumbW320>\n    <photo2ThumbW480><![CDATA[\"https://test-aeonmall.com/files/eventnews/4750/photo2?width=480]]></photo2ThumbW480>\n    <photo2ThumbW640><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2?width=640]]></photo2ThumbW640>\n    <photo2ThumbW1080><![CDATA[https://test-aeonmall.com/files/eventnews/4750/photo2?width=1080]]></photo2ThumbW1080>\n    <xy><![CDATA[]]></xy>\n    <dateStart>2025-08-26</dateStart>\n    <dateEnd>2025-08-28</dateEnd>\n    <dates>\n      <item type=\"date\">\n        <dateId></dateId>\n        <dateStart>2025-08-26</dateStart>\n        <dateEnd>2025-08-28</dateEnd>\n      </item>\n    </dates>\n    <displays>\n      <item type=\"display\">\n        <displayId></displayId>\n        <displayStart>2025-08-26 19:00:00</displayStart>\n        <displayEnd>2025-08-28 03:00:00</displayEnd>\n      </item>\n    </displays>\n    <time><![CDATA[10:00〜18:00（12：00〜13：00一時休止）]]></time>\n    <place><![CDATA[1F センターコート・アエナ前]]></place>\n    <venues></venues>\n    <pubStart>2025-07-01 19:00:00</pubStart>\n    <pubEnd>2025-08-28 03:00:00</pubEnd>\n    <status>1</status>\n    <statusWeb>1</statusWeb>\n    <statusList>1</statusList>\n    <statusSignage>1</statusSignage>\n    <statusCalendar></statusCalendar>\n    <contact>株式会社スペースクリエイションズ https://space-creations.com/ 044-455-6981</contact>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/informationlist_app": {
      "get": {
        "summary": "informationlist_app",
        "description": "インフォメーション情報を XML で返却します。\n画像パスは先頭に \n（本番） https://api.aeonmall.jp/api/xml/{mall_code} \n（検証） https://api-stg.aeonmall.jp/api/xml/{mall_code} \nを付与して取得します。\n",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InformationDataApp"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <snsButton><![CDATA[]]></snsButton>\n  <item type=\"infomation\">\n    <id>cc8da870-cdb9-46b7-b07d-a1b1a7277e99</id>\n    <title><![CDATA[工事に伴う駐車区画閉鎖のお知らせ]]></title>\n    <body><![CDATA[本文…]]></body>\n    <photo1><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png]]></photo1>\n    <photo1WH360x240><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png?width=360&height=240&fit=bounds]]></photo1WH360x240>\n    <photo1WH240x160><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png?width=240&height=160&fit=bounds]]></photo1WH240x160>\n    <photo1S><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png?width=360]]></photo1S>\n    <photo1M><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png?width=240]]></photo1M>\n    <photo1Thumb><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png?width=320&height=320&fit=bounds]]></photo1Thumb>\n    <photo1Thumb150x150><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png?width=150&height=150&fit=bounds]]></photo1Thumb150x150>\n    <photo1Thumb640x640><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png?width=640&height=640&fit=bounds]]></photo1Thumb640x640>\n    <photo1ThumbW320><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png?width=320]]></photo1ThumbW320>\n    <photo1ThumbW480><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png?width=480]]></photo1ThumbW480>\n    <photo1ThumbW640><![CDATA[https://tamadairanomori-aeonmall.com/files/infomation/593/photo1.png?width=640]]></photo1ThumbW640>\n    <photo2><![CDATA[]]></photo2>\n    <photo2WH360x240><![CDATA[]]></photo2WH360x240>\n    <photo2WH240x160><![CDATA[]]></photo2WH240x160>\n    <photo2S><![CDATA[]]></photo2S>\n    <photo2M><![CDATA[]]></photo2M>\n    <photo2Thumb><![CDATA[]]></photo2Thumb>\n    <photo2Thumb150x150><![CDATA[]]></photo2Thumb150x150>\n    <photo2Thumb640x640><![CDATA[]]></photo2Thumb640x640>\n    <photo2ThumbW320><![CDATA[]]></photo2ThumbW320>\n    <photo2ThumbW480><![CDATA[]]></photo2ThumbW480>\n    <photo2ThumbW640><![CDATA[]]></photo2ThumbW640>\n    <imgSizeOrig>0</imgSizeOrig>\n    <dateStart>2025-08-18</dateStart>\n    <dateEnd>2025-08-28</dateEnd>\n    <dates>\n      <item type=\"date\">\n        <dateId></dateId>\n        <dateStart>2025-08-18</dateStart>\n        <dateEnd>2025-08-28</dateEnd>\n      </item>\n    </dates>\n    <time><![CDATA[終日]]></time>\n    <place><![CDATA[駐車場3階～屋上階（R階）]]></place>\n    <pubStart>2025-08-01 09:00:00</pubStart>\n    <pubEnd></pubEnd>\n    <status>1</status>\n    <sort>0</sort>\n    <statusWeb>1</statusWeb>\n    <statusList>1</statusList>\n    <statusSignage>1</statusSignage>\n    <statusReprint>0</statusReprint>\n    <contact></contact>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sitesettings": {
      "get": {
        "summary": "sitesettings",
        "description": "サイト設定情報を XML で返却します。\n画像パスは先頭に \n（本番） https://api.aeonmall.jp/api/xml/{mall_code} \n（検証） https://api-stg.aeonmall.jp/api/xml/{mall_code} \nを付与して取得します。\n",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSettingsData"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <item type=\"siteSettings\">\n    <siteId>9f2da4c3-45cc-4380-81e7-118ae43e130e</siteId>\n    <siteName><![CDATA[イオンモール多摩平の森]]></siteName>\n    <siteNameStr><![CDATA[AEONMALL TAMADAIRANOMORI]]></siteNameStr>\n    <postcode><![CDATA[191-0062]]></postcode>\n    <address><![CDATA[東京都日野市多摩平2-4-1]]></address>\n    <title><![CDATA[イオンモール多摩平の森公式ホームページ]]></title>\n    <siteSettingOpentime><![CDATA[7:00:～23:00]]></siteSettingOpentime>\n    <ogImage><![CDATA[/files/site_setting/1/ogp_image.gif]]></ogImage>\n    <ogImageDir><![CDATA[/files/site_setting/1/]]></ogImageDir>\n    <scnameImage><![CDATA[/files/site_setting/1/mall_logo.gif]]></scnameImage>\n    <scnameImageDir><![CDATA[/files/site_setting/1/]]></scnameImageDir>\n    <inquery><![CDATA[イオンモール多摩平の森(専門店街)へのお問い合わせ 042-589-1300 10:00〜21:00 イオンモール多摩平の森(総合スーパー)へのお問い合わせ 042-514-1050 09:00〜23:00 各専門店へのお問い合わせ ショップリストページより各専門店の電話番号、営業時間をご確認ください。  ]]></inquery>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/salelist": {
      "get": {
        "summary": "salelist",
        "description": "セール情報を XML で返却します。\n画像パスは先頭に \n（本番） https://api.aeonmall.jp/api/xml/{mall_code} \n（検証） https://api-stg.aeonmall.jp/api/xml/{mall_code} \nを付与して取得します。\n",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SaleData"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <item type=\"saleTitle\">\n    <saleTitleId>049ab8ea-d018-49b9-84c5-ebdd084409d1</saleTitleId>\n    <saleTitle><![CDATA[お客さま感謝デー]]></saleTitle>\n    <saleTitleStr><![CDATA[]]></saleTitleStr>\n    <saleTitleImage><![CDATA[/files/shop_option/9/photo.png]]></saleTitleImage>\n    <statusWeb>1</statusWeb>\n    <statusSignage>1</statusSignage>\n    <item type=\"sale\">\n      <saleId>5559446d-6a60-4698-966c-26c295d74f0e</saleId>\n      <saleBody><![CDATA[平常価格より5％OFF]]></saleBody>\n      <shopId>52af8736-36b2-4020-ab17-00e2e776ea91</shopId>\n      <shopName><![CDATA[ASBEE]]></shopName>\n      <genre><![CDATA[ファッション]]></genre>\n      <genreMemo><![CDATA[]]></genreMemo>\n      <shopLogo><![CDATA[/files/shop/61/shop_logo.png]]></shopLogo>\n      <shopFloorName><![CDATA[2F]]></shopFloorName>\n      <shopFloorsName><![CDATA[2F]]></shopFloorsName>\n      <area><![CDATA[]]></area>\n      <areaSub><![CDATA[]]></areaSub>\n    </item>\n    <!-- ... 同様の <item type=\"sale\"> が複数並ぶ ... -->\n    <pubStart>2019-08-24 23:15:22</pubStart>\n    <pubEnd></pubEnd>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n  <item type=\"saleTitle\">\n    <!-- 同構造 -->\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/speciallist": {
      "get": {
        "summary": "speciallist",
        "description": "特集情報を XML で返却します。\n画像パスは先頭に \n（本番） https://api.aeonmall.jp/api/xml/{mall_code} \n（検証） https://api-stg.aeonmall.jp/api/xml/{mall_code} \nを付与して取得します。\n",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SpecialData"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <item type=\"specialTitle\">\n    <specialTitleId>6434da25-3e42-4469-bbb5-6b3e539c78d4</specialTitleId>\n    <specialTitle><![CDATA[夏の手土産＆ギフト特集]]></specialTitle>\n    <specialTitleStr><![CDATA[]]></specialTitleStr>\n    <specialTitleBody><![CDATA[]]></specialTitleBody>\n    <specialTitleImage><![CDATA[]]></specialTitleImage>\n    <statusWeb>1</statusWeb>\n    <statusSignage>1</statusSignage>\n    <item type=\"special\">\n      <title><![CDATA[カフェカルディ ドリップコーヒーギフト 20個（4種各5個） 税込3,850円]]></title>\n      <subTitle><![CDATA[カフェカルディ ドリップコーヒーギフト 20個（4種各5個） 税込3,850円]]></subTitle>\n      <specialId>ff0c9498-e8ec-43ed-aa63-a20358f9f7ec</specialId>\n      <categoryId>79c9f97a-3b51-4796-80be-082d538bfbf0</categoryId>\n      <categoryName><![CDATA[]]></categoryName>\n      <specialImage><![CDATA[]]></specialImage>\n      <specialImage2><![CDATA[]]></specialImage2>\n      <specialImageThumbW1080><![CDATA[]]></specialImageThumbW1080>\n      <specialImage2ThumbW1080> <![CDATA[]]></specialImage2ThumbW1080>\n      <specialSubBody><![CDATA[ブルーマウンテンブレンド、ツッカーノブルボン、有機プレミアムブレンド、プレミアムモカブレンド 各5個のセットです]]></specialSubBody>\n      <shopId>ff0c9498-e8ec-43ed-aa63-a20358f9f7ec</shopId>\n      <shopName><![CDATA[カルディコーヒーファーム]]></shopName>\n      <genreMemo><![CDATA[コーヒー豆・輸入食品]]></genreMemo>\n      <shopLogo><![CDATA[/files/shop/26/shop_logo.png.png]]></shopLogo>\n      <shopFloorName><![CDATA[1F]]></shopFloorName>\n      <shopFloorsName><![CDATA[1F]]></shopFloorsName>\n      <venue><![CDATA[]]></venue>\n    </item>\n    <!-- ... 同様の <item type=\"special\"> が複数並ぶ ... -->\n    <pubStart>2025-07-15 09:00:00</pubStart>\n    <pubEnd></pubEnd>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/floorlist": {
      "get": {
        "summary": "floorlist",
        "description": "フロア情報を XML で返却します。",
        "responses": {
          "200": {
            "description": "正常応答（XML）",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FloorList"
                },
                "examples": {
                  "sample": {
                    "summary": "レスポンス例",
                    "value": "<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <item type=\"floor\">\n    <floorId>66ecb8af-87b2-4028-950d-3f4308ece5fc</floorId>\n    <floorName>GF</floorName>\n  </item>\n  <item type=\"floor\">\n    <floorId>e67097cd-09ef-4866-a86b-20255f7f19a2</floorId>\n    <floorName>1F</floorName>\n  </item>\n  <item type=\"floor\">\n    <floorId>25487a8b-b4b4-4071-a265-8abd81e34c83</floorId>\n    <floorName>2F</floorName>\n  </item>\n  <item type=\"floor\">\n    <floorId>9621196a-6c53-4539-8ea4-52b2a2497092</floorId>\n    <floorName>3F</floorName>\n  </item>\n  <item type=\"floor\">\n    <floorId>fe7121be-f5f4-4089-a826-625240c9320d</floorId>\n    <floorName>4F</floorName>\n  </item>\n</data>\n"
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/genrelist": {
      "get": {
        "summary": "genrelist",
        "description": "テナントカテゴリ情報を XML で返却します。",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GenrelData"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <item type=\"shopgenre\">\n    <genreId>f83ba2e5-b89e-46dd-8849-1de642dd8be3</genreId>\n    <genreName>ショップ</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>881c4bdb-8a1c-4252-b429-ad7ad49f8997</genreId>\n    <genreName>ファッション</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>840e0ebe-5507-438a-aee1-311ba5c0febd</genreId>\n    <genreName>グッズ</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>53f8e6e8-9672-4a01-aac8-7f5c6a9a5f1b</genreId>\n    <genreName>スポーツ＆アウトドア</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>72eb095a-4706-42d3-9d5d-0394a8121e61</genreId>\n    <genreName>サービス</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>af52ca99-fdcd-4bdf-9e6b-bb8af8eb8553</genreId>\n    <genreName>クリニック</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>6a41eb50-1361-4286-9cd9-072d0359c4a3</genreId>\n    <genreName>エンターテインメント</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>e2840646-85de-45e4-ac71-793ab535f133</genreId>\n    <genreName>グルメ</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>9f924003-e7b0-409b-bce4-97b6ebf84f8c</genreId>\n    <genreName>フードコート</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>31eed3a0-5c1e-461b-802d-c1bf68af505c</genreId>\n    <genreName>レストラン</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>fd9ef4a1-3f64-4563-9835-ae1bec62c494</genreId>\n    <genreName>カフェ</genreName>\n  </item>\n  <item type=\"shopgenre\">\n    <genreId>9d37e2db-75c2-4d52-8763-98749c9c910f</genreId>\n    <genreName>スイーツ/その他</genreName>\n  </item>\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/topimagelist": {
      "get": {
        "summary": "topimagelist",
        "description": "トップイメージ情報を XML で返却します。\n画像パスは先頭に \n（本番） https://api.aeonmall.jp/api/xml/{mall_code} \n（検証） https://api-stg.aeonmall.jp/api/xml/{mall_code} \nを付与して取得します。\n",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TopImageData"
                },
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<data>\n  <updateDateAll>2019-08-24 23:15:22</updateDateAll>\n  <item type=\"topImage\">\n    <topImageId>24265b10-b559-45ba-8355-24b4a600101f</topImageId>\n    <topImageTitle><![CDATA[イオンモールアプリ抽選会]]></topImageTitle>\n    <topImageSpUrl><![CDATA[https://tamadairanomori-aeonmall.com/news/event/4801]]></topImageSpUrl>\n    <topImagePubStart>2025-07-11 09:00:00</topImagePubStart>\n    <topImagePubEnd></topImagePubEnd>\n    <topImagePath1><![CDATA[/files/topimage/2971/photo1.jpg]]></topImagePath1>\n    <topImagePath2><![CDATA[]]></topImagePath2>\n    <updateDate>2019-08-24 23:15:22</updateDate>\n  </item>\n  <!-- 同様の <item type=\"topImage\"> が複数並ぶ -->\n</data>\n"
              }
            }
          },
          "500": {
            "description": "サーバエラー",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "serverError": {
                    "value": "<error>\n  <code>500</code>\n  <message>Error message</message>\n</error>\n"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ShopListData": {
        "type": "object",
        "xml": {
          "name": "data"
        },
        "properties": {
          "updateDateAll": {
            "type": "string",
            "description": "テーブル全体の更新日（yyyy-MM-dd HH:mm:ss）",
            "xml": {
              "name": "updateDateAll"
            }
          },
          "item": {
            "type": "array",
            "description": "ショップ要素の配列`<item type=\"shop\">` が繰り返される",
            "items": {
              "$ref": "#/components/schemas/ShopListItem"
            },
            "xml": {
              "name": "item",
              "wrapped": false
            }
          }
        }
      },
      "ShopListItem": {
        "type": "object",
        "description": "ショップ1件分",
        "xml": {
          "name": "item"
        },
        "properties": {
          "type": {
            "type": "string",
            "description": "アイテム種別（固定値：shop）",
            "example": "shop",
            "xml": {
              "attribute": true
            }
          },
          "shopId": {
            "type": "string",
            "xml": {
              "name": "shopId"
            },
            "description": "ショップID（UUID）"
          },
          "shopName": {
            "type": "string",
            "xml": {
              "name": "shopName"
            },
            "description": "ショップ名［正式名称］"
          },
          "shopNameKana": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameKana"
            },
            "description": "ショップ名［カナ］"
          },
          "shopNameEnglish": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameEnglish"
            },
            "description": "ショップ名［英語］"
          },
          "shopNameChinaCN": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameChinaCN"
            },
            "description": "ショップ名［中国語（簡体）］"
          },
          "shopNameChinaTW": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameChinaTW"
            },
            "description": "ショップ名［中国語（繁体）］"
          },
          "shopNameKorea": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameKorea"
            },
            "description": "ショップ名［韓国語］"
          },
          "shopNameFrance": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameFrance"
            },
            "description": "ショップ名［フランス語］"
          },
          "shopNameVietnam": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameVietnam"
            },
            "description": "ショップ名［ベトナム語］"
          },
          "shopNameThai": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameThai"
            },
            "description": "ショップ名［タイ語］"
          },
          "abbr": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "abbr"
            },
            "description": "ショップ名［略称］"
          },
          "webStatus": {
            "type": "string",
            "xml": {
              "name": "webStatus"
            },
            "description": "Web表示　0：表示しない 1：表示する"
          },
          "searches": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "searches"
            },
            "description": "検索ワード（複数）"
          },
          "genre": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genre"
            },
            "description": "ジャンル名"
          },
          "genreSub": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreSub"
            },
            "description": "サブジャンルの項目（複数）"
          },
          "genreSubEnglish": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreSubEnglish"
            },
            "description": "サブジャンル名［英語］"
          },
          "genreMemo": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemo"
            },
            "description": "ジャンルメモ"
          },
          "genreMemoEnglish": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoEnglish"
            },
            "description": "ジャンルメモ［英語］"
          },
          "genreMemoChinaCN": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoChinaCN"
            },
            "description": "ジャンルメモ［中国語（簡体）］"
          },
          "genreMemoChinaTw": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoChinaTw"
            },
            "description": "ジャンルメモ［中国語（繁体）］"
          },
          "genreMemoKorea": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoKorea"
            },
            "description": "ジャンルメモ［韓国語］"
          },
          "genreMemoFrance": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoFrance"
            },
            "description": "ジャンルメモ［フランス語］"
          },
          "genreMemoVietnam": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoVietnam"
            },
            "description": "ジャンルメモ［ベトナム語］"
          },
          "genreMemoThai": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoThai"
            },
            "description": "ジャンルメモ［タイ語］"
          },
          "groupId": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "groupId"
            },
            "description": "グループID"
          },
          "tenantCode": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "tenantCode"
            },
            "description": "テナントコード"
          },
          "tel": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "tel"
            },
            "description": "電話番号"
          },
          "userUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "userUrl"
            },
            "description": "公式サイトURL"
          },
          "floor": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "floor"
            },
            "description": "フロア名"
          },
          "floors": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "floors"
            },
            "description": "フロア名（複数）"
          },
          "area": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "area"
            },
            "description": "エリア名"
          },
          "areaSub": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSub"
            },
            "description": "サブエリア名"
          },
          "number": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "number"
            },
            "description": "フロアマップナンバー"
          },
          "openYear": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "openYear"
            },
            "description": "オープン年"
          },
          "openMonth": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "openMonth"
            },
            "description": "オープン月"
          },
          "closeFlg": {
            "type": "string",
            "xml": {
              "name": "closeFlg"
            },
            "description": "退店フラグ　0：開店中 1：退店"
          },
          "pubStart": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "pubStart"
            },
            "description": "掲載開始日"
          },
          "pubEnd": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "pubEnd"
            },
            "description": "掲載終了日"
          },
          "openDay": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "openDay"
            },
            "description": "オープン日"
          },
          "openTime": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "openTime"
            },
            "description": "営業時間"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "description"
            },
            "description": "ショップ詳細コメント"
          },
          "photo1": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1"
            },
            "description": "写真１［オリジナル］"
          },
          "photo1Thumb": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1Thumb"
            },
            "description": "写真１サムネイル［320x320］"
          },
          "photo1Thumb150x150": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1Thumb150x150"
            },
            "description": "写真１サムネイル［150x150］"
          },
          "photo1Thumb640x640": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1Thumb640x640"
            },
            "description": "写真１サムネイル［640x640］"
          },
          "photo1ThumbW320": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1ThumbW320"
            },
            "description": "写真１サムネイル［横幅320px］"
          },
          "photo1ThumbW640": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1ThumbW640"
            },
            "description": "写真１サムネイル［横幅640px］"
          },
          "photo2": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo2"
            },
            "description": "写真２［オリジナル］"
          },
          "photo2Thumb": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo2Thumb"
            },
            "description": "写真２サムネイル［320x320］"
          },
          "photo2Thumb150x150": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo2Thumb150x150"
            },
            "description": "写真２サムネイル［150x150］"
          },
          "photo2Thumb640x640": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo2Thumb640x640"
            },
            "description": "写真２サムネイル［640x640］"
          },
          "photo2ThumbW320": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo2ThumbW320"
            },
            "description": "写真２サムネイル［横幅320px］"
          },
          "photo2ThumbW640": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo2ThumbW640"
            },
            "description": "写真２サムネイル［横幅640px］"
          },
          "shopLogo": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopLogo"
            },
            "description": "ロゴ［オリジナル］"
          },
          "shopLogoThumb": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopLogoThumb"
            },
            "description": "ロゴサムネイル［320x320］"
          },
          "shopLogoThumb150x150": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopLogoThumb150x150"
            },
            "description": "ロゴサムネイル［150x150］"
          },
          "shopLogoThumb640x640": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopLogoThumb640x640"
            },
            "description": "ロゴサムネイル［640x640］"
          },
          "shopLogoThumbW320": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopLogoThumbW320"
            },
            "description": "ロゴサムネイル［横幅320px］"
          },
          "shopLogoThumbW640": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopLogoThumbW640"
            },
            "description": "ロゴサムネイル［横幅6400px］"
          },
          "qr": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "qr"
            },
            "description": "QRコード画像"
          },
          "foodClass": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "foodClass"
            },
            "description": "料理区分"
          },
          "seats": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "seats"
            },
            "description": "席数"
          },
          "smoking": {
            "type": "string",
            "xml": {
              "name": "smoking"
            },
            "description": "禁煙／喫煙　0：なし 1：禁煙 2：喫煙 3：分煙"
          },
          "reservation": {
            "type": "string",
            "xml": {
              "name": "reservation"
            },
            "description": "予約　0：なし 1：あり"
          },
          "lunchMenu": {
            "type": "string",
            "xml": {
              "name": "lunchMenu"
            },
            "description": "ランチメニュー　0：なし 1：あり"
          },
          "dinnerMenu": {
            "type": "string",
            "xml": {
              "name": "dinnerMenu"
            },
            "description": "ディナーメニュー　0：なし 1：あり"
          },
          "takeOut": {
            "type": "string",
            "xml": {
              "name": "takeOut"
            },
            "description": "テイクアウト　0：なし 1：あり"
          },
          "childrensMenu": {
            "type": "string",
            "xml": {
              "name": "childrensMenu"
            },
            "description": "キッズメニュー　0：なし 1：あり"
          },
          "babySeat": {
            "type": "string",
            "xml": {
              "name": "babySeat"
            },
            "description": "ベビーシート　0：なし 1：あり"
          },
          "alcohol": {
            "type": "string",
            "xml": {
              "name": "alcohol"
            },
            "description": "アルコールの取り扱い　0：なし 1：あり"
          },
          "options": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "options"
            },
            "description": "付帯オプションのID一覧（カンマ区切り）"
          },
          "updateDate": {
            "type": "string",
            "xml": {
              "name": "updateDate"
            },
            "description": "更新日"
          }
        },
        "required": [
          "type",
          "shopId",
          "shopName",
          "shopNameKana",
          "webStatus",
          "genre",
          "floor",
          "area",
          "number",
          "closeFlg",
          "smoking",
          "reservation",
          "lunchMenu",
          "dinnerMenu",
          "takeOut",
          "childrensMenu",
          "babySeat",
          "alcohol",
          "updateDate"
        ]
      },
      "ShopList": {
        "type": "object",
        "description": "ルート要素",
        "xml": {
          "name": "data"
        },
        "properties": {
          "updateDateAll": {
            "type": "string",
            "description": "テーブル全体の更新日（例：YYYY-MM-DD HH:mm:ss）",
            "example": "2019-08-24 23:15:22",
            "xml": {
              "name": "updateDateAll"
            }
          },
          "item": {
            "type": "array",
            "description": "ショップ要素の配列（`<item type=\"shop\">` が繰り返される）",
            "xml": {
              "name": "item",
              "wrapped": false
            },
            "items": {
              "$ref": "#/components/schemas/ShopItem"
            }
          }
        },
        "required": [
          "updateDateAll"
        ]
      },
      "ShopItem": {
        "type": "object",
        "description": "ショップ情報",
        "xml": {
          "name": "item"
        },
        "properties": {
          "type": {
            "type": "string",
            "description": "アイテム種別（固定値：shop）",
            "example": "shop",
            "xml": {
              "attribute": true,
              "name": "type"
            }
          },
          "shopId": {
            "type": "string",
            "description": "ショップID（UUID）",
            "example": "630084fc-3a8e-4016-8cf3-c809651f34ec",
            "xml": {
              "name": "shopId"
            }
          },
          "accountName": {
            "type": "string",
            "description": "ショップのアカウント",
            "example": "GU",
            "xml": {
              "name": "accountName"
            }
          },
          "shopName": {
            "type": "string",
            "description": "ショップ名［正式名称］",
            "example": "GU",
            "xml": {
              "name": "shopName"
            }
          },
          "floorId": {
            "type": "string",
            "description": "フロアID（UUID）",
            "example": "25487a8b-b4b4-4071-a265-8abd81e34c83",
            "xml": {
              "name": "floorId"
            }
          },
          "areaId": {
            "type": "string",
            "description": "エリアID（UUID）",
            "example": "5abcf42a-d299-4a61-b200-37bf951cc202",
            "xml": {
              "name": "areaId"
            }
          },
          "shopGenreId": {
            "type": "string",
            "description": "ショップジャンルID（UUID）",
            "example": "881c4bdb-8a1c-4252-b429-ad7ad49f8997",
            "xml": {
              "name": "shopGenreId"
            }
          }
        },
        "required": [
          "type",
          "shopId",
          "accountName",
          "shopName",
          "floorId",
          "shopGenreId"
        ]
      },
      "ShopListDataApp": {
        "type": "object",
        "xml": {
          "name": "data"
        },
        "properties": {
          "updateDateAll": {
            "type": "string",
            "description": "テーブル全体の更新日（yyyy-MM-dd HH:mm:ss）",
            "xml": {
              "name": "updateDateAll"
            }
          },
          "areasName": {
            "type": "string",
            "nullable": true,
            "description": "エリア名称（カンマ区切り）",
            "xml": {
              "name": "areasName"
            }
          },
          "areasNamesStr": {
            "type": "string",
            "nullable": true,
            "description": "エリア名称（英語、カンマ区切り）",
            "xml": {
              "name": "areasNamesStr"
            }
          },
          "genresName": {
            "type": "string",
            "nullable": true,
            "description": "ジャンル名称（カンマ区切り）",
            "xml": {
              "name": "genresName"
            }
          },
          "genresNameStr": {
            "type": "string",
            "nullable": true,
            "description": "ジャンル名称（英語、カンマ区切り）",
            "xml": {
              "name": "genresNameStr"
            }
          },
          "floorsName": {
            "type": "string",
            "nullable": true,
            "description": "フロア名称（カンマ区切り）",
            "xml": {
              "name": "floorsName"
            }
          },
          "floorsNameStr": {
            "type": "string",
            "nullable": true,
            "description": "フロア名称（英語、カンマ区切り）",
            "xml": {
              "name": "floorsNameStr"
            }
          },
          "optionsName": {
            "type": "string",
            "nullable": true,
            "description": "オプション名称（カンマ区切り）",
            "xml": {
              "name": "optionsName"
            }
          },
          "optionsNameStr": {
            "type": "string",
            "nullable": true,
            "description": "オプション名称（英語、カンマ区切り）",
            "xml": {
              "name": "optionsNameStr"
            }
          },
          "item": {
            "type": "array",
            "description": "ショップ要素の配列`<item type=\"shop\">` が繰り返される",
            "items": {
              "$ref": "#/components/schemas/ShopItemApp"
            },
            "xml": {
              "name": "item",
              "wrapped": false
            }
          }
        },
        "required": [
          "updateDateAll",
          "areasName",
          "genresName",
          "floorsName",
          "optionsName"
        ]
      },
      "ShopItemApp": {
        "type": "object",
        "description": "ショップ1件分",
        "xml": {
          "name": "item"
        },
        "properties": {
          "type": {
            "type": "string",
            "description": "アイテム種別（固定値：shop）",
            "example": "shop",
            "xml": {
              "attribute": true
            }
          },
          "shopId": {
            "type": "string",
            "xml": {
              "name": "shopId"
            },
            "description": "ショップID（UUID）"
          },
          "shopName": {
            "type": "string",
            "xml": {
              "name": "shopName"
            },
            "description": "ショップ名［正式名称］"
          },
          "shopNameKana": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameKana"
            },
            "description": "ショップ名［カナ］"
          },
          "shopNameEnglish": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameEnglish"
            },
            "description": "ショップ名［英語］"
          },
          "shopNameChinaCN": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameChinaCN"
            },
            "description": "ショップ名［中国語（簡体）］"
          },
          "shopNameChinaTW": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameChinaTW"
            },
            "description": "ショップ名［中国語（繁体）］"
          },
          "shopNameKorea": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameKorea"
            },
            "description": "ショップ名［韓国語］"
          },
          "shopNameFrance": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameFrance"
            },
            "description": "ショップ名［フランス語］"
          },
          "shopNameVietnam": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameVietnam"
            },
            "description": "ショップ名［ベトナム語］"
          },
          "shopNameThai": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopNameThai"
            },
            "description": "ショップ名［タイ語］"
          },
          "abbr": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "abbr"
            },
            "description": "ショップ名［略称］"
          },
          "webStatus": {
            "type": "string",
            "xml": {
              "name": "webStatus"
            },
            "description": "Web表示　0：表示しない 1：表示する"
          },
          "mailMagStatus": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "mailMagStatus"
            },
            "description": "メールマガジン参加　0：なし 1：あり"
          },
          "searches": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "searches"
            },
            "description": "キーワード"
          },
          "genre": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genre"
            },
            "description": "ジャンル名"
          },
          "genreSort": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreSort"
            },
            "description": "ジャンルの並び順"
          },
          "genrePhoto1": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "genrePhoto1"
            },
            "description": "ジャンルの画像"
          },
          "genrePhoto1WH360x240": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "genrePhoto1WH360x240"
            },
            "description": "ジャンルの画像（360x240）"
          },
          "genrePhoto1WH240x160": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "genrePhoto1WH240x160"
            },
            "description": "ジャンルの画像（240x160）"
          },
          "genrePhoto1S": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "genrePhoto1S"
            },
            "description": "ジャンルの画像（横幅360）"
          },
          "genrePhoto1M": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "genrePhoto1M"
            },
            "description": "ジャンルの画像（横幅240）"
          },
          "genrePhoto1Thumb": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "genrePhoto1Thumb"
            },
            "description": "ジャンルの画像サムネイル"
          },
          "genrePhoto1Thumb150x150": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "genrePhoto1Thumb150x150"
            },
            "description": "ジャンルの画像サムネイル（150x150）"
          },
          "genrePhoto1Thumb640x640": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "genrePhoto1Thumb640x640"
            },
            "description": "ジャンルの画像サムネイル（640x640）"
          },
          "genrePhoto1ThumbW320": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "genrePhoto1ThumbW320"
            },
            "description": "ジャンルの画像サムネイル（320x320）"
          },
          "genrePhoto1ThumbW640": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "genrePhoto1ThumbW640"
            },
            "description": "ジャンルの画像サムネイル（640x640）"
          },
          "genreUpdate": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreUpdate"
            },
            "description": "ジャンルの最終更新日時"
          },
          "genreSubs": {
            "type": "array",
            "description": "サブジャンル要素の配列（`<genreSubs>` 内に `<item type=\"genreSub\">` が繰り返される）",
            "items": {
              "$ref": "#/components/schemas/GenreSubItemApp"
            },
            "xml": {
              "name": "item",
              "wrapped": true
            }
          },
          "genreMemo": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemo"
            },
            "description": "ジャンルメモ"
          },
          "genreMemoEnglish": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoEnglish"
            },
            "description": "ジャンルメモ［英語］"
          },
          "genreMemoChinaCN": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoChinaCN"
            },
            "description": "ジャンルメモ［中国語（簡体）］"
          },
          "genreMemoChinaTw": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoChinaTw"
            },
            "description": "ジャンルメモ［中国語（繁体）］"
          },
          "genreMemoKorea": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoKorea"
            },
            "description": "ジャンルメモ［韓国語］"
          },
          "genreMemoFrance": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoFrance"
            },
            "description": "ジャンルメモ［フランス語］"
          },
          "genreMemoVietnam": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoVietnam"
            },
            "description": "ジャンルメモ［ベトナム語］"
          },
          "genreMemoThai": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "genreMemoThai"
            },
            "description": "ジャンルメモ［タイ語］"
          },
          "groupId": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "groupId"
            },
            "description": "グループID"
          },
          "tenantCode": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "tenantCode"
            },
            "description": "テナントコード"
          },
          "tel": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "tel"
            },
            "description": "電話番号"
          },
          "userUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "userUrl"
            },
            "description": "公式サイトURL"
          },
          "userUrlSm": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "userUrlSm"
            },
            "description": "スマートフォン用公式サイトURL"
          },
          "userUrlMb": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "userUrlMb"
            },
            "description": "フィーチャーフォン用公式サイトURL"
          },
          "floor": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "floor"
            },
            "description": "フロア名"
          },
          "floors": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "floors"
            },
            "description": "フロア名（複数）"
          },
          "area": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "area"
            },
            "description": "エリア名"
          },
          "areaSort": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSort"
            },
            "description": "エリアの並び順"
          },
          "areaColor": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaColor"
            },
            "description": "エリアの色"
          },
          "areaLogo": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaLogo"
            },
            "description": "エリアのロゴ画像"
          },
          "areaIcon": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaIcon"
            },
            "description": "エリアのアイコン画像"
          },
          "areaUpdate": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaUpdate"
            },
            "description": "エリアの最終更新時刻"
          },
          "areaSub": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSub"
            },
            "description": "サブエリア名"
          },
          "areaSubSort": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSubSort"
            },
            "description": "サブエリアの並び順"
          },
          "areaSubColor": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSubColor"
            },
            "description": "サブエリアの色"
          },
          "areaSubLogo": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSubLogo"
            },
            "description": "サブエリアのロゴ画像"
          },
          "areaSubIcon": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSubIcon"
            },
            "description": "サブエリアのアイコン画像"
          },
          "areaSubUpdate": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaUpdate"
            },
            "description": "サブエリアの最終更新時刻"
          },
          "areaSubSub": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSubSub"
            },
            "description": "サブサブエリア名"
          },
          "areaSubSubSort": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSubSort"
            },
            "description": "サブサブエリアの並び順"
          },
          "areaSubSubColor": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSubSubColor"
            },
            "description": "サブサブエリアの色"
          },
          "areaSubSubLogo": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSubSubLogo"
            },
            "description": "サブサブエリアのロゴ"
          },
          "areaSubSubIcon": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaSubSubIcon"
            },
            "description": "サブサブエリアのアイコン画像"
          },
          "areaSubSubUpdate": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "areaUpdate"
            },
            "description": "サブサブエリアの最終更新時刻"
          },
          "number": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "number"
            },
            "description": "フロアマップナンバー"
          },
          "openYear": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "openYear"
            },
            "description": "オープン年"
          },
          "openMonth": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "openMonth"
            },
            "description": "オープン月"
          },
          "closeFlg": {
            "type": "string",
            "xml": {
              "name": "closeFlg"
            },
            "description": "退店フラグ　0：開店中 1：退店"
          },
          "pubStart": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "pubStart"
            },
            "description": "掲載開始日"
          },
          "pubEnd": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "pubEnd"
            },
            "description": "掲載終了日"
          },
          "restaurantavailability": {
            "type": "string",
            "xml": {
              "name": "restaurantavailability"
            },
            "description": "飲食店連携APIの使用　0：なし 1：あり"
          },
          "openDay": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "openDay"
            },
            "description": "オープン日"
          },
          "openTime": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "openTime"
            },
            "description": "営業時間"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "description"
            },
            "description": "ショップ詳細コメント"
          },
          "photo1": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1"
            },
            "description": "写真１［オリジナル］"
          },
          "photo1WH360x240": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo1WH360x240"
            },
            "description": "写真１サムネイル［360x240］"
          },
          "photo1WH240x160": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo1WH240x160"
            },
            "description": "写真１サムネイル［240x160］"
          },
          "photo1Thumb": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo1Thumb"
            },
            "description": "写真１サムネイル［320x320］"
          },
          "photo1Thumb150x150": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1Thumb150x150"
            },
            "description": "写真１サムネイル［150x150］"
          },
          "photo1Thumb640x640": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1Thumb640x640"
            },
            "description": "写真１サムネイル［640x640］"
          },
          "photo1ThumbW320": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1ThumbW320"
            },
            "description": "写真１サムネイル［横幅320px］"
          },
          "photo1ThumbW480": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo1ThumbW480"
            },
            "description": "写真１サムネイル［横幅480px］"
          },
          "photo1ThumbW640": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo1ThumbW640"
            },
            "description": "写真１サムネイル［横幅640px］"
          },
          "photo2": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "photo2"
            },
            "description": "写真２［オリジナル］"
          },
          "photo2WH360x240": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo2WH360x240"
            },
            "description": "写真２サムネイル［360x240］"
          },
          "photo2WH240x160": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo2WH240x160"
            },
            "description": "写真２サムネイル［240x160］"
          },
          "photo2Thumb": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo2Thumb"
            },
            "description": "写真２サムネイル［320x320］"
          },
          "photo2Thumb150x150": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo2Thumb150x150"
            },
            "description": "写真２サムネイル［150x150］"
          },
          "photo2Thumb640x640": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo2Thumb640x640"
            },
            "description": "写真２サムネイル［640x640］"
          },
          "photo2ThumbW320": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo2ThumbW320"
            },
            "description": "写真２サムネイル［横幅320px］"
          },
          "photo2ThumbW480": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo2ThumbW480"
            },
            "description": "写真２サムネイル［横幅480px］"
          },
          "photo2ThumbW640": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "photo2ThumbW640"
            },
            "description": "写真２サムネイル［横幅640px］"
          },
          "shopLogo": {
            "type": "string",
            "nullable": true,
            "xml": {
              "name": "shopLogo"
            },
            "description": "ロゴ［オリジナル］"
          },
          "shopLogoWH230x80": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "shopLogoWH230x80"
            },
            "description": "ロゴ［230x80］"
          },
          "shopLogoWH100x50": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "shopLogoWH100x50"
            },
            "description": "ロゴ［100x50］"
          },
          "shopLogoThumb": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "xml": {
              "name": "shopLogoThumb"
            },
            "description": "ロゴ［320x320］"
          },
          "shopLogoThumb150x150": {
            "type": "string",
[...]
